name: 'Run Composite Action'
on: 
  push:
  workflow_dispatch:

env:
  PERSON: "Mono The Octocat"

jobs:
  hello_world_job:
    runs-on: ubuntu-latest
    name: A job to say hello
    steps:
      - uses: actions/checkout@v2
      - id: actions-say-hello
        uses: akbast/actions-composite@v1
        with:
          who-to-greet: ${{ env.PERSON }}
